<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Read All</title>
</head>

<body>
  <div>
    <h1>All Users</h1>

  </div>
  <table>
    <th>
      <tr>
        <th>ID</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Created At</th>
        <th>Actions</th>
      </tr>
    </th>
    <tbody>
      {% for one_user in users %}
      <tr>
        <td>{{ one_user.id }}</td>
        <td>{{ one_user.first_name }}
            {{ one_user.last_name }}
        </td>
        <td>{{ one_user.email }}</td>
        <td>{{ one_user.created_at }}</td>
        <td><a href="/show/{{one_user.id}}">Show</a> | <a href="/edit/{{one_user.id}}">Edit</a> | <a href="/delete/{{one_user.id}}">Delete</a>
        </td>
        {% endfor %}
    </tbody>
  </table>

  <a href="/dashboard">Add a New User</a>

</body>

</html>