<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>View a Painting</title>
</head>
<body>

  <div class="d-flex justify-content-between">
    <a href="/paintings/new">Add Painting</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/users/logout">Logout</a>
  </div>

<div class="container">
<h2>{{this_painting.title}}</h2>
<p>Painted by the amazing: {{this_painting.picasso.first_name}}</p>
<p>Description:</p>
<p>{{this_painting.description}}</p>
<p>Price:</p>
<p>${{this_painting.price}}</p>
<p>Quantity:</p>
<p>{{this_painting.quantity}}</p>
<p>Number Purchased:</p>
<p>{% if this_painting.quantity > this_painting.purchased %} {{this_painting.purchased}} {%else%} Sold Out {%endif%}</p>
</div>


<!-- buying painting, have name to identify which painting and id of painting -->
<form action="/buy_painting" method="post">
<button class="btn btn-primary">Buy</button>
<input type="hidden" name="purchased" value="{{this_painting.purchased}}">
<input type="hidden" name="purchased_id" value="{{this_painting.id}}">
</form>


  
</body>
</html>

<!-- users join on purchases on users on painting -->
<!-- users paintings onto the purchases table -->
<!-- then join users table onto the paintings table (.id part) -->

display:
1)start with select all from purchases where id = person logged in
but also join paintings onto that query
will not have persons name to created
join users table onto foreign key of paintings table to access name of 
creator