<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>View a Painting</title>
</head>
<body>

  <div class="d-flex justify-content-between">
    <a href="/paintings/new">Add Painting</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/users/logout">Logout</a>
  </div>

<div class="container">
<h2>{{this_painting.title}}</h2>
<p>Painted by the amazing: {{this_painting.picasso.first_name}}</p>
<p>Description:</p>
<p>{{this_painting.description}}</p>
<p>Price:</p>
<p>${{this_painting.price}}</p>
</div>



  
</body>
</html>