<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <title>Paintings</title>
</head>

<body>

  <div class="container">
    <div class="d-flex justify-content-between">
      <h2>Welcome {{logged_user.first_name}}!</h2>
      <a href="/paintings/new">Add Painting</a>
      <a href="/users/logout">logout</a>
    </div>
    <div class="d-flex gap-5">
      <div>
        <h4>Paintings</h4>
        {% for one_painting in all_paintings %}
        <p><a href="/paintings/{{one_painting.id}}">{{one_painting.title}}</a> by {{one_painting.picasso.first_name}}
          {% if one_painting.user_id == session["user_id"] %}
          <a href="/paintings/{{one_painting.id}}/delete">Delete</a>
          | <a href="/paintings/{{one_painting.id}}/edit">Edit</a>
          {% endif %}
        </p>
        {% endfor %}
      </div>
      <div>
        <h4>Your Purchased Paintings</h4>
        {% for one_purchase in my_purchases %}
        <p>
          <a href="/paintings/{{one_purchase.id}}">{{one_purchase.title}}</a> by {{one_purchase.first_name}}
        </p>
        {% endfor %}
      </div>

    </div>

  </div>
  </tbody>


  </div>





</body>

</html>

<!-- 
{% for one_recipe in all_recipes %}
<tr>
  <td><a href="/recipes/{{one_recipe.id}}">{{one_recipe.name}}</a></td>
  <td>{% if one_recipe.under == 1 %}True {%else%} False {%endif%}</td>
  <td>{{one_recipe.planner.first_name}}</td>
  <td>
    <a href="/recipes/{{one_recipe.id}}">View</a>
    {% if one_recipe.user_id == session["user_id"] %}
    | <a href="/recipes/{{one_recipe.id}}/edit">Edit</a>
    | <a href="/recipes/{{one_recipe.id}}/delete">Delete</a>
    {% endif %}
  </td>
</tr>
{% endfor %} -->