<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Recipe</title>
</head>

<body>
<form action="">
  <div>
    <div class="d-flex justify-content-around">
      <h2>Edit Recipe!</h2>
      <a href="/recipes">back to recipes</a>
      <a href="/logout">logout</a>
    </div>

    <p>flash</p>

    <div>
      <div>
        <p>Name</p>
        <p>jinja</p>
      </div>
      <div>
        <p>Description</p>
        <p>jinja</p>
      </div>
      <div>
        <p>Instructions</p>
        <p>jinja</p>
      </div>

      <div>
        <div>
          <p>Date Cooked/Made</p>
          <label for="date"></label>
          <input type="date" name="date">
        </div>
        <div>
          <p>Under 30 minutes?</p>
          <div class="d-flex">
            <label for="yes">Yes</label>
            <input type="radio" name="yes">
            <label for="no">No</label>
            <input type="radio" name="no">
          </div>
        </div>
      </div>
    </div>

  </div>
</form>
</body>

</html>