<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <title>Add A Party</title>
</head>

<body>
  <div class="container">
    <div class="d-flex justify-content-between">
      <h1>Edit A Party</h1>
      <a href="/dashboard" class="btn btn-primary">Home</a>
    </div>
    {% for message in get_flashed_messages() %}
    <p class="text-danger">{{message}</p>
    {% endfor %}
    <form action="/parties/{{one_party.id}}/edit" method="post">
      <label for="what">What</label>
      <input type="text" name="what" id="what" value="{{one_party.what}}">
      <label for="location">Location</label>
      <input type="text" name="what" id="location" value="{{one_party.location}}">
      <label for="date">Date</label>
      <input type="text" name="date" id="date" value="{{one_party.date}}">
      <div>
        <p>All Ages</p>
        <label for="true">True</label>
        <input type="radio" name="all_ages" id="true" value="1" {%if one_party.all_age == 1%} checked { %endif% }>
        <label for="false">False</label>
        <input type="radio" name="all_ages" id="false" value="0" {%if one_party.all_age == 0%} checked { %endif% }>
      </div>
      <label for="description">Description</label>
      <textarea name="description" id="description" cols="30" rows="10" value="{{one_party.description}}"></textarea>
      <button class="btn btn-success">Submit</button>
    </form>

  </div>


</body>

</html>