<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <title>Document</title>
</head>

<body>

  <div class="d-flex justify-content-around">
    <h2>Howdy {{ logged_user.first_name }}</h2>
    <div class="d-flex justify-content-between" style="width:180px">
      <a href="/shows/new">+ Create</a>
      <a href="/users/logout">logout</a>
    </div>
  </div>

  <h4>All TV Shows:</h4>
  <div>
    <table class="table">
      <thead>
        <tr class="table-dark">
          <th>Title</th>
          <th>Network</th>
          <th>Release Date</th>
          <th>Actions</th>
          <th>Like!</th>
        </tr>
      </thead>

      <tbody>
        {% for one_show in all_shows %}
        <tr>
          <td>{{one_show.title}}</td>
          <td>{{one_show.network}}</td>
          <td>{{one_show.date}}</td>
          <td>
            <a href="/shows/{{one_show.id}}">view</a>
            {%if one_show.user_id == session["user_id"]%}
            | <a href="/shows/{{one_show.id}}/edit">edit</a>
            | <a href="/shows/{{one_show.id}}/delete">delete</a>
            {%endif%}
          </td>
          <td>
            {%if session["user_id"] != one_show.user_id %}
              {%if one_show.id not in show_preference.liked_shows %}
              <form action="/liked" method="post">
                <label for="quantity"></label>
                <input type="hidden" value="0" name="quantity">
                <input type="hidden" value="{{one_show.id}}" name="quantity_id">
                <input type="submit" value="Like">
              </form>
              {%else%}
              <form action="/unliked" method="post">
                <label for="quantity"></label>
                <input type="hidden" value="0" name="quantity">
                <input type="hidden" value="{{one_show.id}}" name="quantity_id">
                <input type="submit" value="Unlike">
              </form>
              {%endif%}
            {%endif%}
          </td>
        </tr>
        {% endfor %}
      </tbody>
      
      <!-- {# {%if session['id'] != tv_show.user_id %} #}
      <a href="">Liked</a>
      <a href="">unliked</a>
      
      getonebyid
      query left from users left join likes on users.id
      
      classmethod
      count_likes_by_show_id(cls, show_id)
        select count(user_id) as num from likes where show_id
        return results[0] -->

    </table>
  </div>

</body>

</html>